<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Erreur 500</title>
  <style>
    .backbutton{
        width: 40px;
        height: 40px;
        cursor: pointer;
        background: lightgray;
        border-radius: 40px;
        align-items: center;
        object-fit: contain;
    }
    h1, p{
        text-align: center;
    }
  </style>
</head>
<body>
    <a href="/"><img src="image/back.svg" class="backbutton"></a> 
  <h1>Erreur 500 - Erreur interne du serveur</h1>
  <p>Une erreur est survenue lors du traitement de votre demande. Veuillez réessayer plus tard.</p>
</body>
</html>
